@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: calc(10px + 2vmin);
  color: white;
}
h1 {
  font-family: 'Lobster Two', cursive;
  color: #00b589;
}
.App form {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
.App form input {
  width: 40%;
  padding: 10px 20px;
  border-radius: 2rem;
  font-size: 18px;
  border: none;
  outline: none;
  color: gray;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.App form input::placeholder {
  color: gray;
}
.App form input:focus::placeholder {
  color: transparent;
}
.App form button {
  cursor: pointer;
  padding:  10px 20px;
  font-size: 20px;
  border-radius: 2rem;
  border: none;
  background: #00b589;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
