@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.login-section {
  width: 80%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content:right;
  gap: 20px;
}
.login-section p {
  color: #00b589;
  font-size: 16px;
  font-weight: 700;
} 

h1 {
  font-family: 'Lobster Two', cursive;
  color: #00b589;
}
.App form {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
.App form input {
  width: 40%;
  padding: 10px 20px;
  border-radius: 2rem;
  font-size: 18px;
  font-weight: 100;
  border: none;
  outline: none;
  color: gray;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.App form input::placeholder {
  color: gray;
}
.App form input:focus::placeholder {
  color: transparent;
}
.App button {
  cursor: pointer;
  height: 40px;
  padding: 0 40px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 2rem;
  border: none;
  background: #00b589;
  color: white;
}

.logo-shape {
  margin-top: 150px;
  width: 80px;
  height: 40px;
  /* background-color: burlywood; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-shape div:nth-child(1) {
  width: 30px;
  height: 100%;
  background-color: #00b589;
  border-radius: 20px 5px 5px 20px;
}
.logo-shape div:nth-child(2) {
  width: 30px;
  height: 100%;
  background-color: #00b589;
  border-radius: 5px 20px 20px 5px;
}
.logo-shape div:nth-child(3) {
  position: absolute;
  left: 5px;
  width: 70px;
  height: 30px;
  background: white;
  border-radius: 30px;
}
.logo-shape div:nth-child(4) {
  position: absolute;
  left: 25%;
  width: 40px;
  height: 5px;
  background-color: #00b589;
}
